*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:linear-gradient(135deg,#0f172a,#1e3a8a,#6d28d9);
color:#fff;
}

header{
position:fixed;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:rgba(255,255,255,.08);
backdrop-filter:blur(15px);
z-index:1000;
}

.logo{
font-size:32px;
font-weight:700;
color:#38bdf8;
text-decoration:none;
}

nav a{
margin-left:25px;
color:#fff;
text-decoration:none;
font-weight:500;
transition:.3s;
}

nav a:hover{
color:#38bdf8;
}

.home{
min-height:100vh;
display:flex;
justify-content:space-between;
align-items:center;
padding:120px 8%;
flex-wrap:wrap;
}

.content{
max-width:600px;
}

.content h3{
font-size:28px;
}

.content h1{
font-size:65px;
color:#38bdf8;
margin:10px 0;
}

.content h2{
font-size:32px;
color:#facc15;
margin-bottom:20px;
}

.content p{
font-size:18px;
line-height:1.8;
margin-bottom:30px;
}

.btn{
display:inline-block;
padding:14px 35px;
background:#38bdf8;
color:#000;
text-decoration:none;
border-radius:40px;
font-weight:600;
transition:.4s;
}

.btn:hover{
background:#facc15;
transform:scale(1.08);
}

.image img{
width:360px;
height:360px;
border-radius:50%;
object-fit:cover;
border:6px solid #38bdf8;
box-shadow:0 0 35px #38bdf8;
}

.social{
margin:25px 0;
}

.social a{
display:inline-flex;
justify-content:center;
align-items:center;
width:48px;
height:48px;
background:rgba(255,255,255,.1);
border-radius:50%;
margin-right:12px;
color:#fff;
font-size:20px;
text-decoration:none;
transition:.3s;
}

.social a:hover{
background:#38bdf8;
color:#000;
transform:translateY(-5px);
}
section{
padding:80px 8%;
}

section h2{
text-align:center;
font-size:40px;
margin-bottom:40px;
color:#38bdf8;
}

#about p{
max-width:900px;
margin:auto;
text-align:center;
line-height:1.9;
font-size:18px;
background:rgba(255,255,255,.08);
padding:30px;
border-radius:20px;
backdrop-filter:blur(10px);
}

.skills{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:15px;
}

.skills span{
padding:12px 22px;
background:#38bdf8;
color:#000;
border-radius:30px;
font-weight:bold;
transition:.3s;
}

.skills span:hover{
background:#facc15;
transform:translateY(-8px);
}

.box{
background:rgba(255,255,255,.08);
padding:25px;
border-radius:20px;
margin:20px 0;
backdrop-filter:blur(12px);
transition:.4s;
}

.box:hover{
transform:translateY(-8px);
box-shadow:0 0 25px #38bdf8;
}

#contact{
text-align:center;
}

#contact p{
margin:15px 0;
font-size:18px;
}

@media(max-width:768px){

header{
flex-direction:column;
padding:15px;
}

nav{
margin-top:15px;
}

nav a{
margin:10px;
display:inline-block;
}

.home{
text-align:center;
}

.content h1{
font-size:42px;
}

.content h2{
font-size:24px;
}

.image{
margin-top:40px;
}

.image img{
width:250px;
height:250px;
}

}
